@import "../variables";

@mixin circle() {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: $rowHeight - 4px;
    height: $rowHeight - 4px;
    margin-top: -0.5 * ($rowHeight - 4px);
    margin-left: -0.5 * ($rowHeight - 4px);
    border-radius: 50%;
}

@mixin circleLeft() {
    @include circle();
    width: $rowHeight;
    margin-left: -0.5 * ($rowHeight);
    border-radius: 0%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

@mixin circleRigth() {
    @include circle();
    width: $rowHeight;
    margin-left: -0.5 * ($rowHeight);
    border-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.root {
    display: inline-block;
    box-sizing: border-box;
    width: 1 / 7 * 100%;

    list-style: none;

    font-size: 16px;
    text-align: center;

    cursor: pointer;
    user-select: none;

    &.enabled {
        &.highlighted, &:active, &:hover {
            position: relative;
            z-index: 1;

            &:before {
                @include circle();

                background-color: #EFEFEF;
                z-index: -1;
            }
        }

        &:hover:before {
            opacity: 0.5;
        }
        &.highlighted:before, &:active:before {
            opacity: 1;
        }
    }

    &:first-child {
        position: relative;
    }

    &.today {
        position: relative;
        z-index: 2;

        > span {
            color: $textColor;
        }

        &.disabled > span {
            color: #AAA;
        }

        &:before {
            @include circle();
            box-shadow: inset 0 0 0 1px;
            z-index: -1;
        }

        &.disabled:before {
            box-shadow: inset 0 0 0 1px #BBB;
        }
    }

    &.multipleEvents {
      position: absolute;
      left: 0;&:hover {
            position: relative;
            z-index: 1;

            &:before {
                background-color: blue;
                z-index: -1;
            }
        }
      top: 0;
    }

    &.event {
        position: relative;
        z-index: 2;

        > span {
            color: $textColor;
        }

        &.disabled > span {
            color: #AAA;
        }

        &:hover {
            &:before {
                background-color: #000aad;
            }
        }

        &:before {
            @include circle();
            box-shadow: inset 0 0 0 1px;
            z-index: -1;
            background-color: #9fcafb;
            color: #9fcafb;
        }

        &.disabled:before {
            box-shadow: inset 0 0 0 1px #9fcafb;
        }
    }

    &.eventStart {
        position: relative;
        z-index: 2;

        > span {
            color: $textColor;
        }

        &.disabled > span {
            color: #AAA;
        }

        &:hover {
            &:before {
                @include circleLeft();
                background-color: #840000;
            }
        }

        &:before {
            @include circleLeft();
            box-shadow: inset 0 0 0 1px;
            z-index: -1;
            background-color: #ffb2b2;
            color: #ffb2b2;
        }

        &.disabled:before {
            box-shadow: inset 0 0 0 1px #BBB;
        }
    }

    &.eventMiddle {
        position: relative;
        z-index: 2;

        > span {
            color: $textColor;
        }

        &.disabled > span {
            color: #AAA;
        }

        &:hover {
            &:before {
                background-color: #840000;
                border-radius: 0%;
                width: $rowHeight;
                margin-left: -0.5 * ($rowHeight);
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: $rowHeight;
            height: $rowHeight - 4px;
            margin-top: -0.5 * ($rowHeight - 4px);
            margin-left: -0.5 * ($rowHeight);
            border-radius: 0%;
            box-shadow: inset 0 0 0 1px;
            z-index: -1;
            background-color: #ffb2b2;
            color: #ffb2b2;
            border-color: #ffb2b2;
        }

        &.disabled:before {
            box-shadow: inset 0 0 0 1px #BBB;
        }
    }

    &.eventEnd {
        position: relative;
        z-index: 2;

        > span {
            color: $textColor;
        }

        &.disabled > span {
            color: #AAA;
        }

        &:hover {
            &:before {
                @include circleRigth();
                background-color: #840000;
            }
        }

        &:before {
            @include circleRigth();
            box-shadow: inset 0 0 0 1px;
            z-index: -1;
            background-color: #ffb2b2;
            color: #ffb2b2;
        }

        &.disabled:before {
            box-shadow: inset 0 0 0 1px #BBB;
        }
    }

    &.selected {
        position: relative;

        > .month, > .year {
            display: none;
        }

        &:before {
            display: none;
        }

        .selection {
            @include circle();
            line-height: $rowHeight;
            z-index: 2;

            .month {
                top: 9px;
            }
            .day {
                position: relative;
                top: 5px;

                font-weight: bold;
                font-size: 18px;
            }
        }
    }
    &.disabled {
        cursor: default;
        color: #AAA;
        cursor: not-allowed;
    }
}

.multipleEvents {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  color: white !important;
  line-height: 20px;
  font-size: 9px;
  font-weight: bold;
  background-color: red;
  border-radius: 100%;
}

.month, .year {
    position: absolute;
    left: 0;
    right: 0;

    font-size: 12px;
    line-height: 12px;
}

.month {
    top: 5px;
}
.year {
    bottom: 5px;
}
